<% include ./partials/header %>

<div><img src="<%= product.image %>" alt="<%= product.title %>"></div>
<p><strong>Title:</strong> <%= product.title %></p>
<p><strong>ASIN:</strong> <%= product.asin %></p>
<p><strong>Price:</strong> <%= product.price %></p>

<% include ./partials/footer %>
